.sectionMain {
  padding: 200px 65px;
  background-image: url("../../image/bgi-2x.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.mainWrapper {
  text-align: center;
}
.text {
  margin-left: 500px;
  display: flex;
  align-items: center;
  color: var(--hero-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.text::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--hero-text-color);
}
.textWrapper {
  display: flex;
  justify-content: flex-end;
}
.title {
  color: var(--white-color);
  font-size: 75px;
}
