.navigateWrapper {
  display: flex;
  gap: 40px;
}

.link {
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 16px;
  letter-spacing: 0.1em;
  text-decoration: none;
  color: var(--primary-text-color);
}

.link:hover,
.link:focus {
  color: var(--accent-color);
}
