.sectionPrice {
  padding: 60px 43px;
  background-image: url("../../image/bgimgprice-2x.png");
  background-color: var(--secondary-text-color);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.text {
  display: flex;
  align-items: center;
  color: var(--hero-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.text::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--hero-text-color);
}
.priceTitle {
  display: flex;
  justify-content: center;

  color: var(--white-color);
  font-size: 60px;
}
.listWrapper {
  display: flex;
  justify-content: space-around;
}

.priceList {
  color: var(--text-color-list);
  font-size: 24px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.priceItem {
  display: flex;
  align-items: center;
  gap: 60px;
}

.value {
  margin-left: auto;
  text-align: center;
}
