.footer {
  padding: 44px 0;
}
.list {
  display: flex;
  align-items: center;
  gap: 29px;
}
.titleFooter {
  color: var(--primary-text-color);
}
.footerWrapper {
  font-size: 23px;
  gap: 30px;
  color: var(--primary-text-color);
}
.textCopyRight {
  display: flex;
  justify-content: center;
  color: var(--primary-text-color);
  text-align: center;
  align-items: center;
  gap: 2px;
}
