:root {
  --primary-text-color: #555555;
  --secondary-text-color: #303030;
  --white-color: #fff;
  --accent-color: #ff6c00;
  --hero-text-color: gray;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  --primary-text-color: #555555;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
ul {
  margin-left: 0;
  padding-left: 0;
}

li {
  list-style-type: none;
  margin: 0;
}

p {
  margin: 0;
}
