.sectionMasters {
  padding: 60px 43px;
  background-image: url("../../image/bgimgprice-2x.png");
  background-color: var(--secondary-text-color);
}
.text {
  display: flex;
  align-items: center;
  color: var(--hero-text-color);
  font-size: 18px;
  line-height: 1.67;
  letter-spacing: 0.02em;
}
.text::before {
  display: inline-block;
  content: "";
  width: 60px;
  height: 1px;
  margin-right: 20px;
  background-color: var(--hero-text-color);
}
.title {
  display: flex;
  justify-content: center;
  font-size: 40px;
  color: var(--white-color);
}
.listMasters {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  color: var(--text-color-list);
}
.descriptionWrap {
  text-align: center;
}
